/* buttons  styling */
.sf_button { 
/*	clear:left; margin:0 4px 40px 20px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; */
   outline: 0; 
   margin:0 4px 0 0; 
   padding: .4em .4em; 
   text-decoration:none !important; 
   cursor:pointer; 
   position: relative; 
   text-align: center; 
   zoom: 1; 
}
.fg-menu .sf_button {
	text-align: left;
}
.fg-menu .sf_button-icon-left { text-indent: 20px;}


.sf_button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
/*a.sf_button { float: left;}*/
button.sf_button { width: auto; overflow: visible;}

.sf_button-icon-left { padding-left: 2.1em; }
.sf_button-icon-right { padding-right: 2.1em; }
.sf_button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.sf_button-icon-right .ui-icon { left: auto; right: .2em; margin-right: 0; }
.sf_button-icon-solo { display: block; width: 8px; text-indent: -9999px;}
.sf_button.ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0;}

.sf_button_inline {
	padding-top: 1px;padding-bottom: 1px;
/*	padding: .4em .4em;*/
/*	text-indent: -99999px;*/
	
}

/* flash messages */
.sf_admin_flashes {
	margin-bottom: 10px;
}
.sf_admin_flashes div.ui-state-error, .sf_admin_flashes div.ui-state-highlight, .sf_admin_flashes div.ui-state-success {
	padding: 10px;
}

/*
	Filters box
*/
.sf_admin_filter {
	width: 50%;
	margin: 0 auto;
}

.sf_admin_filter table {
	width: 100%;
}
.sf_admin_filter br { display: none; }
.sf_admin_filter td { padding-bottom: 10px;}

#sf_admin_filter_button {
	float: right;
	padding: 2px;
}
/*
	sf_admin_form
*/
#sf_admin_form_tab_menu {
	margin-top: 10px;
}
#sf_admin_form_tab_menu label { 
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.2em;
}

.sf_admin_text input, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
.sf_admin_text input[type=text]:focus, textarea:focus, select:focus {border:1px solid #666;}
.sf_admin_text input[type=text] {width:200px;padding:3px;}
.sf_admin_filter input[type=text] { margin-right: 20px;}

.help {
	color:#666;
	font-style: italic;
	text-indent: 10px;
}
.sf_admin_filter .help span.ui-icon.ui-icon-info {
/*	display: inline;*/
}

/* table widget  */
.sf_admin_list {
	margin-top: 10px;
	margin-bottom: 10px;
}
.sf_admin_list table{
	clear: both;
	width: 100%;
	border-collapse:	collapse;;
}

.sf_admin_list table a {
	text-decoration: none;
}

.sf_admin_list caption {
	width: 100%; 
	padding: 4px;
}

#sf_admin_container .sf_admin_list caption h1 {
	font-size: 1.4em;
	background: none;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	text-align: left;
	margin: 0px;
	cursor: pointer;
	margin: 0px; padding: 0px;
}

.sf_admin_list caption .ui-icon {
	float: right;
}

.sf_admin_list caption h1 span.ui-icon.ui-icon-triangle-1-s {
	float: left;
	margin-right: 6px;
}

.sf_admin_list table thead tr th {
	padding: 5px;
	font-size: 1.1em;
}

#sf_admin_container .sf_admin_list table tfoot, 
#sf_admin_container .sf_admin_list table tfoot tr, 
#sf_admin_container .sf_admin_list table tfoot tr th {
	border: none;
	margin: 0px;
	padding: 0px;
	background: none;
}

#sf_admin_container .sf_admin_list table tfoot div {
	padding: 5px; margin: 0px;
	text-align: right;
}

.sf_admin_list table tbody tr.sf_admin_row:hover {
	font-weight: normal;
}
.sf_admin_list table tbody tr.sf_admin_row td {
	border-right-width: 1px;
	border-right-style: inherit;
	border-right-color: inherit;
	border-bottom-width: 1px;
	border-bottom-style: inherit;
	border-bottom-color: inherit;
	padding: 4px;
	margin: 0px;
	text-align:left;
	overflow:hidden;
}

.sf_admin_td_actions {
	list-style-type: none;
}
.sf_admin_td_actions li {
	display: inline;
}

/* list styling */

.sf_admin_actions_block {
	text-align:right;
	margin: 10px 0 10px 0;
}

.sf_admin_actions {
	margin: 0;
  padding: 0;
  list-style-type: none;
}

.sf_admin_actions li {
	display: inline;
}
